#containerBtns {
  color: white;
  font-size: 3em;
}

#btn1 {
  position: fixed;
  top: 50px;
  right: 0;
  background-color: #525a61;
  width: 40px;
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

#btn1:hover {
  width: 60px;
  transition: width 0.5s ease;
}

#btn2 {
  position: fixed;
  top: 120px;
  right: 0;
  background-color: #525a61;
  width: 40px;
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
#btn2:hover {
  width: 60px;
  transition: width 0.5s ease;
}
#btn3 {
  position: fixed;
  top: 190px;
  right: 0;
  background-color: #525a61;
  width: 40px;
  border-radius: 15px 0 0 15px;
  transition: width 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}
#btn3:hover {
  width: 60px;
  transition: width 0.5s ease;
}

#btn4 {
  position: fixed;
  bottom: 0;
  right: 100px;
  background-color: #2a9d8f;
  width: 50px;
  height: 50px;
  border-radius: 15px 15px 0 0;
  transition: height 0.5s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btn4:hover {
  height: 60px;
  transition: height 0.5s ease;
}

.gitLinkCont {
  position: fixed;
  bottom: 0;
  left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.gitLinkCont div {
  color: whitesmoke;
  height: 50px;
  border-left: 3px solid white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gitLinkCont a {
  color: white;
  z-index: 1;
}

.gitLinkCont a {
  .gitlink {
    font-size: 50px;
  }
}

.gitLinkCont a:hover {
  .gitlink {
    opacity: 0.9;
  }
}

@media screen and (max-width: 500px) {
  #btn4 {
    right: 10px;
  }
  #btn3:hover {
    width: 40px;
    transition: width 0.5s ease;
  }
  #btn1:hover {
    width: 40px;
    transition: width 0.5s ease;
  }
  #btn2:hover {
    width: 40px;
    transition: width 0.5s ease;
  }
  #btn1 {
    top: 20px;
  }
  #btn2 {
    top: 90px;
  }
  #btn3 {
    top: 160px;
  }
  .gitLinkCont {
    left: 10px;
  }
}

