#containerBtns {
    color: white;
    font-size: 3em;
    
  }

  #btn1 {
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #525a61;
    width: 50px;
    border-radius: 15px 0 0 15px;
  }

  #btn2 {
    position: fixed;
    top: 120px;
    right: 0;
    background-color: #525a61;
    width: 50px;
    border-radius: 15px 0 0 15px;

  }
  #btn3 {
    position: fixed;
    top: 190px;
    right: 0;
    background-color: #525a61;
    width: 50px;
    border-radius: 15px 0 0 15px;

  }