#contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 300px;
}

#contactTitle h1 {
    color: whitesmoke;
    font-weight: 400;
    font-size: 5em;
    z-index: 1;
    user-select: none;
}

#contactTitle {
    z-index: 1;
    text-shadow: 1px 1px 1px black;
}

.contactInput {
    width: 600px;
}

@media screen and (max-width: 500px) {
    .contactInput {
        width: 300px;
    }
  }