.footer {
  color: whitesmoke;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 50px;
  z-index: 1;
  user-select: none;
}

.footer:hover {
  text-decoration: underline;
}

.footer p {
  z-index: 1;
}
