#myProjects {
    position: relative;
}

#myProjects:after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

#myProjects:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}