div {
    display: flex;
    justify-content: center;
}

div h1 {
    color: whitesmoke;
    text-transform: uppercase;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px #aaa;
}

div h1:hover {
    animation: gradient 3s ease-in-out infinite;
}


