#headContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // position: relative;
  margin-top: 100px;
}

#headContainer h1 {
  color: whitesmoke;
  //text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 4em;
  //text-shadow: 3px 3px 4px #f03a47;
  //animation-name: sizeRepeat;
  //animation-duration: 6s;
  //animation-iteration-count: infinite;
  z-index: 1;
  user-select: none;
  font-weight: 400;
  text-shadow: 2px 2px 4px black;
  text-align: center;
}

#headTitle #span1 {
  font-family: 'Montserrat', sans-serif; 
  transition: color 0.5s ease;
  font-size: 85px;
}

#headTitle #span2 {
  font-size: 45px;
}

.boldWord {
  color: #f03a47;
  font-weight: bold;
}

#headTitle #span1:hover {
  color: #f03a47;
  transition: color 0.5s ease;
}

#headBtns {
  text-align: center;
}

#headBtns button {
  background-color: #f03a47;
  transition: opacity 0.3s ease;
}

#headBtns button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

/* @keyframes sizeRepeat {
  0% {
    font-size: 3em;
  }
  50% {
    font-size: 3.2em;
  }
  100% {
    font-size: 3em;
  }
} */

/* #headContainer h1:hover {
  text-shadow: 1px 1px 4px #f6f4f3;
} */


/* #headText {
  color: whitesmoke;
  //position: absolute;
  //top: 10em;
  margin: 15px;
  font-size: 1.8em;
  text-align: center;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  letter-spacing: normal;
}

#headText img {
  height: 12em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px 50px 30px;
  border: solid 1px transparent;
  transition: border 0.5s ease;
  filter: saturate(170%);
}
#headText img:hover {
  border: solid 1px whitesmoke;
  transition: border 0.5s ease;
}

#headText button {
  background-color: #f03a47;
  transition: opacity 0.3s ease;
}
#headText button:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
} */

@media only screen and (max-width: 800px) {
  #headContainer {
    margin-top: 170px;
  }
  #headContainer h1 {
    text-align: center;
    font-size: 1.7em;
  }
  #headTitle #span1 {
    font-size: 25px;
  }
  #headTitle #span2 {
    font-size: 20px;
  }
  #headBtns {
    text-align: center;
    margin-left: 0;
  }
  #headBtns button {
    width: 175px;
    height: 35px;
  }
}