div {
  display: flex;
  justify-content: center;
}

div h1 {
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 3em;
  text-shadow: 3px 3px 4px #F03A47;
  animation-name: sizeRepeat;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes sizeRepeat {
    0%   {font-size: 3em;}
    50%  {font-size: 3.2em;}
    100% {font-size: 3em;}
}

div h1:hover {
    text-shadow: 2px 2px 3px #F6F4F3;
}

@media only screen and (max-width: 840px) {
    div h1 {
        text-align: center;
    }
}
