#headContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // position: relative;
}

#headContainer h1 {
  color: whitesmoke;
  //text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 4em;
  text-shadow: 3px 3px 4px #f03a47;
  //animation-name: sizeRepeat;
  //animation-duration: 6s;
  //animation-iteration-count: infinite;
  z-index: 1;
  user-select: none;
}

/* @keyframes sizeRepeat {
  0% {
    font-size: 3em;
  }
  50% {
    font-size: 3.2em;
  }
  100% {
    font-size: 3em;
  }
} */

#headContainer h1:hover {
  text-shadow: 1px 1px 4px #f6f4f3;
}

@media only screen and (max-width: 840px) {
  #headContainer h1 {
    text-align: center;
  }
}

#headText {
  color: whitesmoke;
  //position: absolute;
  //top: 10em;
  margin: 15px;
  font-size: 1.5em;
  text-align: center;
  z-index: 1;
}
