.card {
  color: whitesmoke;
  margin: 15px;
  font-size: 1.5em;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //flex-wrap: wrap;
  background-color: #f03a47;
  //height: 20em;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: opacity 200ms;
}

.cardLeftContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 80%;
}

.cardLeftBtnCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
}

#cardLeftButtons {
  background-color: #183059;
  transition: box-shadow 0.5s ease, opacity 0.5s ease;
}

#cardLeftButtons:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow 0.5s ease, opacity 0.5s ease;
  opacity: 0.9;
}

/* .card a img {
  width: 25%;
  margin: 15px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .card a img {
  width: 100%;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .card a #testtt {
  width: 100%;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* .card a {
  text-decoration: none;
  width: 40%;
  margin: 15px;
  z-index: 1;
} */

.card video {
  border-radius: 10px;
  width: 40%;
  height: 40%;
  z-index: 1;
  margin: 10px;
}

.titleContainer {
  color: whitesmoke;
  margin: 15px;
  font-size: 4em;
  z-index: 1;
  text-align: center;
  //background-color: red;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.titleContainer h2 {
  z-index: 1;
  font-weight: 400;
}

.card h2 {
  z-index: 1;
  font-weight: 400;
  user-select: none;
  color: #183059;
}

.card h2 span {
  font-size: 70%;
  user-select: text;
  color: white;
}

@media screen and (max-width: 500px) {
  .card span {
    font-size: 70%;
  }
  .card {
    font-size: 1em;
    flex-wrap: wrap;
  }
  .card video {
    width: 80%;
    height: 80%;
  }
}
